<div class="modal fade" style="position: absolute; top: 50%;left: 50%; width: 640px" id="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Meine Filter</h4>
      </div>
      <div class="modal-body">
          <form class="form-horizontal" role="form" data-bind="submit: save">
              <div class="form-group" data-bind="css: { 'has-error': !filter.Name.isValid() }">
                <div class="col-xs-12">
                    <input type="text" class="form-control" data-bind="value: filter.Name" placeholder="Filter Name" />
                </div>
              </div>
              <div class="form-group">
                    <div class="col-xs-3">
                        <select class="form-control" data-bind="options: searchTypes, optionsText: 'label', value: filter.FilterType, optionsValue: 'id'"></select>
                    </div>
                    <div class="col-xs-9"><p> der folgenden Kriterien erfullen: </p></div>
              </div>
              <div data-bind="foreach: filter.FilterItems">
                  <div class="form-group">
                    <div class="col-xs-3">
                        <select class="form-control" data-bind="options: Fields, value: Field, optionsText: 'label', optionsValue: 'id'"></select>
                    </div>
                    <div class="col-xs-3">
                        <select class="form-control" data-bind="options: Operators, value: Operator, optionsText: 'label', optionsValue: 'id'"></select>
                    </div>
                    <div class="col-xs-4">
                        <!-- ko if: Editor() === 'select'-->
                            <select class="form-control" data-bind="options: Values, optionsText: 'Label', optionsValue: 'ID', value: Value"></select>
                        <!-- /ko -->
                        <!-- ko if: Editor() === 'text'-->
                            <input type="text" class="form-control" data-bind="value: Value">
                        <!-- /ko -->
                        <!-- ko if: Editor() === 'numeric'-->
                            <input type="number" class="form-control" data-bind="value: Value">
                        <!-- /ko -->
                    </div>
                      <div class="col-xs-1">
                        <button class="btn btn-success btn-sm" data-bind="click: $root.addItem"><i class="ace-icon fa fa-plus"></i></button>
                      </div>
                      <div class="col-xs-1">
                        <button class="btn btn-danger btn-sm" data-bind="click: $root.removeItem"><i class="ace-icon fa fa-minus"></i></button>
                      </div>
                  </div>
              </div>
              
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
        <button type="button" class="btn btn-primary" data-bind="click: save">Speichern</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->