<div id="navbar" class="navbar navbar-default navbar-collapse">
    <div id="navbar-container" class="navbar-container">

        <!-- toggle buttons are here or inside brand container -->
        <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler">
            <span class="sr-only">Toggle sidebar</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div class="navbar-header pull-left">
            <a href="#" class="navbar-brand">
                <small><i class="ace-icon fa fa-cog"></i> Spection</small>
            </a> 
        </div>
        <!-- /.navbar-header -->


        <div class="navbar-buttons navbar-header pull-right ">
            <ul class="nav ace-nav">
                <!-- user buttons such as messages, notifications and user menu -->
                <li class="purple">
                    <a href="#">
                        <i class="ace-icon fa fa-bell icon-animated-bell"></i>
                        <span class="badge badge-important">3</span>
                    </a>
                </li>
                <li class="green">
                    <a href="#">
                        <i class="ace-icon fa fa-envelope icon-animated-vertical"></i>
                        <span class="badge badge-success">2</span>
                    </a>
                </li>
                <li class="light-blue user-min">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <img src="images/user.jpg" class="nav-user-photo" />
                        <span class="user-info"><small>Willkommen,</small>Fritz</span>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-buttons -->


        <nav class="navbar-menu pull-left">
            <!-- optional menu & form inside navbar -->
        </nav>
        <!-- /.navbar-menu -->

    </div>
    <!-- /.navbar-container -->
</div>
<!-- /.navbar -->
<div class="main-container" id="main-container">
    <div class="sidebar responsive" id="sidebar">
        <!-- responsive-min (ubaci ovu klasu i dole otkomentariši sidebar expand) -->
        <!-- sidebar goes here -->
        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
           <!-- <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
                    <button class="btn btn-success"><i class="ace-icon fa fa-signal"></i></button>
                    <button class="btn btn-info"><i class="ace-icon fa fa-pencil"></i></button>
                    <button class="btn btn-warning"><i class="ace-icon fa fa-users"></i></button>
                    <button class="btn btn-danger"><i class="ace-icon fa fa-cogs"></i></button>
                </div>

                <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                    <span class="btn btn-success"></span>
                    <span class="btn btn-info"></span>
                    <span class="btn btn-warning"></span>
                    <span class="btn btn-danger"></span>
                </div>-->
        </div>
        <ul class="nav nav-list">
            <li>
                <a href="#projekte">
                    <i class="menu-icon fa fa-briefcase"></i>
                    <span class="menu-text">Projekte</span>
                </a>
            </li>
            <li>
                <a href="#useCases">
                    <i class="menu-icon fa fa-male"></i>
                    <span class="menu-text">Use Cases</span>
                </a>
            </li>
             <li>
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-list"></i>
                    <span class="menu-text">Anforderung</span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                 <b class="arrow"></b>
                 <ul class="submenu">
                    <li>
                        <a href="#">
                            <i class="menu-icon fa fa-briefcase"></i>
                            <span class=menu-text>Projekt</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="menu-icon fa fa-search"></i>
                            <span class=menu-text>Meine filter</span>
                        </a>
                    </li>
                     <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-star"></i>
                            <span class=menu-text>Favoriten</span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                         <b class="arrow"></b>
                         <ul class="submenu" data-bind="foreach: favorites">
                            <li>
                                <a href="#">
                                    <span class="menu-text" data-bind="text: title"></span>
                                    <span class="badge badge-warning" data-bind="text: count"></span>
                                </a>
                            </li>
                         </ul>
                    </li>
                     <li>
                        <a href="#" class="dropdown-toggle">
                            <i class="menu-icon fa fa-list"></i>
                            <span class=menu-text>Kapitelstruktur</span>
                            <b class="arrow fa fa-angle-down"></b>
                        </a>
                        <b class="arrow"></b>
                        <ul class="submenu" data-bind="template: {foreach: kapitelStruktur, name: 'kapitel-template'}"></ul>
                    </li>
                 </ul>
            </li>
            <li>
                <a href="#review">
                    <i class="menu-icon fa fa-flask"></i>
                    <span class="menu-text">Review</span>
                </a>
            </li>
            <li>
                <a href="#umsetzung">
                    <i class="menu-icon fa fa-legal"></i>
                    <span class="menu-text">Umsetzung</span>
                </a>
            </li>
            <li>
                <a href="#feedback">
                    <i class="menu-icon fa fa-headphones"></i>
                    <span class="menu-text">Produktfeedback</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i class="ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>
        <!--<div id="sidebar-expand" class="sidebar-toggle sidebar-expand">
                <i class="ace-icon fa fa-angle-double-right" data-icon1="ace-icon fa fa-angle-double-right" data-icon2="ace-icon fa fa-angle-double-left"></i>
            </div>-->
    </div>

    <div class="main-content">
        <div class="breadcrumbs" id="breadcrumbs">
            <!-- breadcrumbs goes here -->
            <!-- search box -->
            <!--<div id="nav-search" class="nav-search">
                <form class="form-search">
                    <span class="input-icon">
                        <input type="text" class="nav-search-input" id="nav-search-input" autocomplete="off" placeholder="Search ..." />
                        <i class="ace-icon fa fa-search nav-search-icon"></i>
                    </span>
                </form>
            </div>-->
        </div>

        <div class="page-content">
            <div class="ace-settings-container" id="ace-settings-container">
                <!-- setting box goes here if needed -->
            </div>
            <div data-bind="router: { transition: 'entrance' }"></div>
        </div>
        <!-- /.page-content -->
    </div>
    <!-- /.main-content -->

    <a class="btn-scroll-up" id="btn-scroll-up"></a>

    <!-- footer area -->
    <div class="footer">
            <div class="footer-inner">
                <div class="footer-content">
                    <address>
                        <strong>Adiutec AG,</strong> Merkurstrasse 45 CH- 8032 Zürich<br />
                        Tel. +41 44 419 25 90, Fax. +41 44 419 25 89
                    </address>
                </div>
            </div>
        </div>

</div>
<!-- /.main-container -->

<script type="text/html" id="kapitel-template">
    <li>
        <a href="#" class="dropdown-toggle">
            <span class="menu-text" data-bind="text: Title"></span>
            <span class="badge badge-warning" data-bind="visible: Count>0, text: Count"></span>
            <b class="arrow fa fa-angle-down" data-bind="visible: SubCaptions.length>0"></b>
        </a>
        <b class="arrow" data-bind="if: SubCaptions.length>0"></b>
        <ul class="submenu" data-bind="template: {name: 'kapitel-template', foreach: SubCaptions}">
            <li>
                <a href="#">
                    <span class="menu-text" data-bind="text: Title"></span>
                    <span class="badge badge-warning" data-bind="visible: Count>0, text: Count"></span>
                </a>
            </li>
        </ul>
    </li>
</script>
