<div>
    <div class="page-header">
        <h1>
            <i class="ace-icon fa fa-pencil"></i> Anforderung erstellen
        </h1>
        <!--<button class="btn btn-pink pull-right" type="button" data-bind="click: save">
            <i class="ace-icon fa fa-save"></i> Speichern
        </button>
        <div style="clear: both"></div>-->
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="tabbable">

                <ul id="tabs" class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab1" data-toggle="tab">Allgemein</a>
                    </li>
                    <li>
                        <a href="#tab2" data-toggle="tab">Zusatz</a>
                    </li>
                    <li>
                        <a href="#tab3" data-toggle="tab">Datein</a>
                    </li>
                    <li>
                        <a href="#tab4" data-toggle="tab">Kommentare</a>
                    </li>
                    <li>
                        <a href="#tab5" data-toggle="tab">Verknupfungen </a>
                    </li>
                    <li>
                        <a href="#tab6" data-toggle="tab">History</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane in active" id="tab1">
                        <form class="form-horizontal" role="form">
                            <div class="form-group">
                                <label class="col-xs-3 col-md-1 control-label" for="number">Nummer</label>
                                <div class="col-xs-4 col-md-2">
                                    <input type="text" class="form-control" id="number" data-bind="value: task.ID" disabled/>
                                </div>
                            </div>
                            <div class="form-group" data-bind="css: { 'has-error' : !task.Title.isValid() }">
                                <label class="col-xs-3 col-md-1 control-label" for="title">Titel</label>
                                <div class="col-xs-9 col-md-11">
                                    <input type="text" class="form-control" id="title" data-bind="value: task.Title"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-md-1 control-label" for="priority">Prioritat</label>
                                <div class="col-xs-3 col-md-3">
                                    <select class="form-control" id="priority" data-bind="options: priorities, optionsText: 'Label', optionsValue: 'ID', value: task.PriorityID"/>
                                </div>
                                <label class="col-xs-3 col-md-1 control-label" for="status">Status</label>
                                <div class="col-xs-3 col-md-3">
                                    <select class="form-control" id="status" data-bind="options: statuses, optionsText: 'Label', optionsValue: 'ID', value: task.StatusID"/>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-md-1 control-label" for="kapitel">Kapitelstruktur</label>
                                <div class="col-xs-9 col-md-11">
                                    <select class="form-control" id="kapitel" data-bind="options: phases, optionsText: function (phase) { return phase.Order + ' ' + phase.Title; }, optionsValue: 'ID', optionsCaption: 'Bitte auswahl...', value: task.PhaseID"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" for="beschreibung">Beschreibung</label>
                                <div class="col-xs-12">
                                    <textarea class="form-control" id="beschreibung" rows="2" data-bind="value: task.Description"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" for="bemerkung">Bemerkung/Erganzung</label>
                                <div class="col-xs-12">
                                    <textarea class="form-control" id="bemerkung" rows="2" data-bind="value: task.Remark"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 col-md-1 control-label" for="typ">Typ</label>
                                <div class="col-xs-3 col-md-3">
                                    <select class="form-control" id="typ" data-bind="options: types, optionsText: 'Label', optionsValue: 'ID', value: task.TypeID"/>
                                </div>
                                <label class="col-xs-3 col-md-1 control-label" for="meilenstein">Meilenstein</label>
                                <div class="col-xs-3 col-md-3">
                                    <select class="form-control" id="meilenstein" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-2 col-md-1 control-label text-left" for="author">Author</label>
                                <div class="col-xs-10 col-md-11">
                                    <input type="text" class="form-control" id="author" disabled/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-1 control-label" for="losung">Losungvorschlag</label>
                                <div class="col-xs-12">
                                    <textarea id="losung" class="form-control" data-bind="value: task.Solution"></textarea>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="tab-pane in" id="tab2">
                        <form class="form-horizontal" role="form">
                            <h5 class="text-primary">Bewertungen</h5>
                            <div class="form-group">
                                <label class="control-label col-xs-3 col-md-2" for="projektrisiko">Projektrisiko</label>
                                <div class="col-xs-3 col-md-4">
                                    <select class="form-control" id="projektrisiko" data-bind="options: projectRisks, optionsText: 'Label', optionsValue: 'ID', optionsCaption: 'Bitte auswahl...', value: task.ProjectRiskID"></select>
                                </div>
                                <label class="control-label col-xs-3 col-md-2" for="produktktrisiko">Produktrisiko</label>
                                <div class="col-xs-3 col-md-4">
                                    <select class="form-control" id="produktktrisiko" data-bind="options: productRisks, optionsText: 'Label', optionsValue: 'ID', optionsCaption: 'Bitte auswahl...', value: task.ProductRiskID"></select>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3 col-md-2" for="level">Level</label>
                                <div class="col-xs-3 col-md-4">
                                    <select class="form-control" id="level" data-bind="options: levels, optionsText: 'Label', optionsValue: 'ID', optionsCaption: 'Bitte auswahl...', value: task.LevelID"></select>
                                </div>
                                <label class="control-label col-xs-3 col-md-2" for="prduktkosten">Produktkosten</label>
                                <div class="col-xs-3 col-md-4">
                                    <input type="number" class="form-control" id="prduktkosten" data-bind="value: task.ProductCosts"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3 col-md-2" for="herstellungkosten">Herstellungskosten</label>
                                <div class="col-xs-3 col-md-4">
                                    <input type="number" class="form-control" id="herstellungkosten" data-bind="value: task.ProductionCosts"/>
                                </div>
                                <label class="control-label col-xs-3 col-md-2" for="Vorteilsnummer">Vorteilsnummer</label>
                                <div class="col-xs-3 col-md-4">
                                    <input type="number" class="form-control" id="Vorteilsnummer" data-bind="value: task.BeneficialNumber"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-xs-3 col-md-2" for="Quelle">Quelle</label>
                                <div class="col-xs-3 col-md-4">
                                    <input type="text" class="form-control" id="Quelle" data-bind="value: task.Source"/>
                                </div>
                                <label class="control-label col-xs-3 col-md-2" for="Nutzen">Nutzen</label>
                                <div class="col-xs-3 col-md-4">
                                    <input type="text" class="form-control" id="Nutzen" data-bind="value: task.Use"/>
                                </div>
                            </div>
                            <h5 class="text-primary">Zuordnungen</h5>
                            <div class="form-group">
                                <label class="control-label col-xs-1" for="Testkriterien">Testkriterien</label>
                                <div class="col-xs-12">
                                    <textarea class="form-control" rows="3" id="Testkriterien" data-bind="value: task.TestCriteria"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane in" id="tab3">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="widget-box widget-color-blue2" id="BildPanel">
                                    <div class="widget-header">
                                        <h5 class="widget-title">
                                            <i class="ace-icon fa fa-image"></i> Bild
                                        </h5>
                                        <!--<div class="widget-toolbar">
                                                <a data-action="reload" href="#"><i class="ace-icon fa fa-refresh"></i></a>
                                            </div>-->
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <img src="../../../images/gallery/image-1.jpg" id="bild" style="width: 100%; min-height: 335px;"/>
                                        </div>
                                        <div class="widget-toolbox clearfix">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="widget-box widget-color-blue2" id="Dateien">
                                    <div class="widget-header">
                                        <h5 class="widget-title">
                                            <i class="ace-icon fa fa-file-pdf-o"></i> Dateien
                                        </h5>
                                        <!--<div class="widget-toolbar">
                                                <a data-action="reload" href="#"><i class="ace-icon fa fa-refresh"></i></a>
                                            </div>-->
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <table class="table table-bordered"
                                                <thead>
                                                    <tr><th>Dateiname</th><th style="width: 50px">Size</th><th style="width: 50px"></th></tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <input type="file" name="myfile" id="my-file-input" />
                                            <div class="clearfix"></div>
                                        </div>
                                        <div class="widget-toolbox clearfix">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<script id="dateiRowTemplate" type="text/html">
                                <td data-bind="text: Name"></td>
                                <td data-bind="text: Size"></td>
                                <td>
                                    <div class="btn-group">
                                        <button data-toggle="dropdown" class="btn btn-white btn-primary dropdown-toggle btn-minier">
                                            <i class="ace-icon fa fa-cog"></i>
                                            <i class="ace-icon fa fa-angle-down"></i>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><a href="javascript: void(0);">Download</a></li>
                                            <li><a href="javascript: void(0);">Entfernen</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </script>-->
                        </div>
                    </div>
                    <!--<div class="tab-pane in" id="tab4">
                        <h5 class="text-primary">Kommentare zur Anforderung</h5>
                        <table class="table table-bordered"
                               data-bind="dataTable: { gridId: 'commentsGrid', dataSource: task.Comments, columns: commentsColumns, options: { searching: false, info: false, lengthChange: false, sDom: '' } }">
                            <thead>
                                <tr><th>Datum</th><th>Person</th><th>Kommentar</th></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>-->
                    <!--<div class="tab-pane in" id="tab5">
                        <h5 class="text-primary">Verknüpfte Anforderungen</h5>
                        <table class="table table-bordered"
                               data-bind="dataTable: { gridId: 'shortcutsGrid', dataSource: task.Shortcuts, columns: shortcutsColumns, options: { searching: false, info: false, lengthChange: false, sDom: '' } }">
                            <thead>
                                <tr><th>Verknüpfungsart</th><th>Nr.</th><th>Titel</th><th>Kommentar</th></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>-->
                    <!--<div class="tab-pane in" id="tab6">
                        <h5 class="text-primary">History zur Anforderung</h5>
                        <table class="table table-bordered"
                               data-bind="dataTable: { gridId: 'histroyGrid', dataSource: task.History, columns: historyColumns, options: { searching: false, info: false, lengthChange: false, sDom: '' } }">
                            <thead>
                                <tr><th>Modifiziert am</th><th>Was</th><th>Person</th></tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>-->
                </div>

            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>